{% extends 'base.html' %}
{% load staticfiles i18n widget_tweaks %}

{% block nav %}
<nav class="blue-intense" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo white-text">
            <img src="{% static 'images/full_logo_white.png' %}">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="white-text" href="{% url 'login_user' %}">Iniciar Sesi&oacute;n</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row row-padding-top">
                    <h2 class="header center white-text text-lighten-2 row-padding-top">Sistema Automatizado de Detecci&oacute;n de Matr&iacute;culas</h2>
                    <div class="row center row-padding-top">
                        <h5 class="header col s12 light">Detecci&oacute;n automatizada de veh&iacute;culos con marbete vencido</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'images/image12.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6 center">
                    <h2 class="center grey-text darken-1"><i class="material-icons medium">directions_car</i></h2>
                    <h4>Problematica</h4>
                    <p class="left-align light">No hay forma sistemática de detectar un vehiculo que circula con marbete vencido. Su detección depende de que una autoridad de tránsito que se percate visualmente y actúe en consecuencia.</p>
                </div>
                <div class="col s6 center">
                    <h2 class="center grey-text darken-1"><i class="material-icons medium">done_all</i></h2>
                    <h4>Objetivo</h4>
                    <p class="left-align light">Ofrecer a la Autoridad Metropolitana de Transporte una herramienta tecnol&oacute;gica, ya que como ente responsable de garantizar una efectiva gesti&oacute;n tributar&iacute;a, le permita detectar de forma sistem&aacute;tica, matriculas que presentan retraso en el pago del impuesto de circulaci&oacute;n o marbete. Esto debe realizarse de manera autom&aacute;tica desde dispositivos m&oacute;viles, apoy&aacute;ndose en los diversos sistemas de consulta dispuestos por el gobierno nacional.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'images/image2.jpg' %}" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text darken-1"><i class="material-icons medium">assignment_turned_in</i></h2>
                        <h5 class="center">Preciso</h5>

                        <p class="light">Al detectar una matr&iacute;cula, el sistema garantiza que la informaci&oacute;n tributaria asociada a la misma es la correcta.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text darken-1"><i class="material-icons medium">av_timer</i></h2>
                        <h5 class="center">Eficiente</h5>

                        <p class="light">El agente solo ser&aacute; alertado ante matr&iacute;culas que presentan retraso en el pago del impuesto.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center grey-text darken-1"><i class="material-icons medium">desktop_windows</i></h2>
                        <h5 class="center">Automatizado</h5>

                        <p class="light">Consulta en tiempo real del estatus de las matr&iacute;culas identificadas a trav&eacute;s de la DGII.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper margin-b-minus">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'images/image1.jpg' %}" alt="Unsplashed background img 3">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="row no-margin">
    {% include "landing_footer.html" %}
</div>
{% endblock %}
