{% load staticfiles static %}

<div class="col s12 no-padding">
    <footer class="page-footer blue-intense no-padding">
        <div class="container">
            <div class="row">
                <div class="col s12 left">
                    <h3 class="white-text left col s12">Equipo de Trabajo</h3>
                    <div class="col s12 m3">
                        <div class="card small">
                            <a href="https://www.linkedin.com/in/jos%C3%A9-garc%C3%ADa-94994b19/" class="btn-floating btn-large waves-effect waves-light white btn-photo">
                                <img src="{% static 'images/jose.jpg' %}" alt="Unsplashed background img 3">
                            </a>
                            <div class="card-content white-text">
                                <h5 class="black-text"><strong>Jos&eacute; Garc&iacute;a</strong></h5>
                                <p class="black-text">Diseño de base de datos y desarrollo de de webservices</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card small">
                            <a href="https://www.linkedin.com/in/franger-y%C3%A1nez-b20837116/" class="btn-floating btn-large waves-effect waves-light white btn-photo">
                                <img src="{% static 'images/franger.jpg' %}" alt="Unsplashed background img 3">
                            </a>
                            <div class="card-content white-text">
                                <h5 class="black-text"><strong>Franger Y&aacute;nez</strong></h5>
                                <p class="black-text">Diseño de interfaz de usuario y desarrollo web</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card small">
                            <a href="https://www.linkedin.com/in/cesar-j-rodriguez-45ba9469/" class="btn-floating btn-large waves-effect waves-light white btn-photo">
                                <img src="{% static 'images/cesar.jpg' %}" alt="Unsplashed background img 3">
                            </a>
                            <div class="card-content white-text">
                                <h5 class="black-text"><strong>C&eacute;sar Rodr&iacute;guez</strong></h5>
                                <p class="black-text">Desarrollo de aplicaci&oacute;n m&oacute;vil</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card small">
                            <a href="https://www.linkedin.com/in/manuel-fuentes-pmp-88566b4a/" class="btn-floating btn-large waves-effect waves-light white btn-photo">
                                <img src="{% static 'images/manuel.jpg' %}" alt="Unsplashed background img 3">
                            </a>
                            <div class="card-content white-text">
                                <h5 class="black-text"><strong>Manuel Fuentes</strong></h5>
                                <p class="black-text">Desarrollo web, diseño gr&aacute;fico y mercadeo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="white-text" href="#">Liderazgo Responsable</a>
            </div>
        </div>
    </footer>
</div>
