<div class="col s12 no-padding">
    <footer class="page-footer blue-intense no-padding">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 left">
                    <h5 class="white-text left">Equipo de Trabajo</h5>
                    <ul class="left">
                        <li class="left col s12 no-padding">
                            <a class="white-text left" href="#!"><strong>Jos&eacute; Garc&iacute;a</strong></a>
                            <br>
                            <p class="left">Diseño de base de datos y desarrollo de de webservices</p>
                        </li>
                        <li class="left col s12 no-padding">
                            <a class="white-text left" href="#!"><strong>Franger Y&aacute;nez</strong></a>
                            <br>
                            <p class="left">Diseño de interfaz de usuario y desarrollo web</p>
                        </li>
                        <li class="left col s12 no-padding">
                            <a class="white-text left" href="#!"><strong>Manuel Fuentes</strong></a>
                            <br>
                            <p class="left">Diseño gr&aacute;fico y mercadeo</p>
                        </li>
                        <li class="left col s12 no-padding">
                            <a class="white-text left" href="#!"><strong>C&eacute;sar Rodr&iacute;guez</strong></a>
                            <br>
                            <p class="left">Desarrollo de aplicaci&oacute;n m&oacute;vil</p>
                        </li>
                    </ul>
                </div>
                <div class="col l6 s12 left">
                    <h5 class="white-text left">Nuestro Equipo</h5>
                    <div class="left col s12">
                        <p class="white-text left-align">Consideramos que la composici&oacute;n de nuestro equipo es la ideal y correcta porque estamos conformados por profesionales con las habilidades y experiencia t&eacute;cnica necesaria para desarrollar en todo su alcance la soluci&oacute;n propuesta.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="white-text" href="#">Liderazgo Responsable</a>
            </div>
        </div>
    </footer>
</div>