<nav class="blue-intense" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a id="logo-container" href="#" class="brand-logo white-text">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="white-text" href="sass.html">Sass</a></li>
                <li><a class="white-text" href="badges.html">Components</a></li>
                <li><a class="white-text" href="collapsible.html">Cerrar Sesi&oacute;n</a></li>
            </ul>
        </div>
    </div>
</nav>